@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  src: local('HelveticaNeue'), local('Helvetica Neue'), url(/woff/HelveticaNeue.woff) format('woff');
}

@font-face {
  font-family: 'Helvetica Neue UltraLight';
  font-style: normal;
  src: local('HelveticaNeue-UltraLight'), local('Helvetica Neue UltraLight'), url(/woff/HelveticaNeue-UltraLight.woff) format('woff');
}

@import url(/woff/HelveticaNeue-UltraLight.woff);
@import url(/woff/HelveticaNeue.woff);

body {
  font-family: "Helvetica Neue UltraLight", serif;
  color: #fff;
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

div#watermark {
  color: #fff;
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 10000;
  opacity: 0.4;
}

div#watermark img {
  height: 80px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
}

div#watermark span.pb {
  font-family: "Helvetica Neue", serif;
  font-size: 30pt;
}

div#watermark span.pdx {
  font-family: "Helvetica Neue UltraLight", serif;
  font-size: 28pt;
  margin-left: 10px;
}

video {
  width: 100%;
  height: 100%;
  margin: auto auto;
  overflow: hidden !important;
}

div#img_gal {
  width: 100%;
  height: 100%;
  margin: auto auto;
  overflow: hidden !important;
  position: absolute;
}

/* ----- */

body#controller_body {
  background-color: #aaaaaa;
}

h2 {
  background-color: #e31b23;
  font-family: "Helvetica Neue", serif;
  font-size: 20pt;
  color: #ffffff;
  margin: 0;
  padding: 5px;
}

h2 img {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

h2 .light {
  font-family: "Helvetica Neue UltraLight", serif;
}
